*{
    padding: 0;
    margin: 0;
    color: black;
}
/*
emoji picker*/
.cote{
    display: flex;
    flex-direction: row;
}
#instant{
    font-size: 50px;
    color: white;
}
.cote_gauche{
    border-radius: 20px 0 0 20px;
    width: 500px;
    height: 600px ;
    background:linear-gradient(120deg, rgb(45, 139, 158),rgb(7, 187, 187));
    box-shadow: 2px 2px 3px black;
  
}
#sign_in{
    box-shadow: 2px 2px 3px black;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    border-radius: 0 20px 20px 0;
    border-left: none;
    background-color: white;
}
#name,#room{
    display: flex;
    flex-direction: column;
}
#login{
  
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
  height: 98vh;
  background:linear-gradient(120deg, rgb(45, 139, 158),rgb(7, 187, 187));

   
}
.txt,.txt2{
    width: 300px;
  
    color: white;
    font-size: 30px;
    margin: 0 auto;
}



#sign_in form{
    width: 80%;
    height: 50px;
   display: flex;
   flex-direction: column;
   gap: 15px;
   margin-top: 50px;
}
#name{
    width: 100%;
}
#join{
    margin-top: 100px;
    border: none;
    width: 80%;
    height: 40px;
    background:linear-gradient(120deg, rgb(45, 139, 158),rgb(7, 187, 187));
    color: white;
    border-radius: 20px;
    font-size: 20px;
    
}
#sign_in input{
    height: 30px;
    border: rgb(200, 195, 195) solid 2px;
    outline: none;
font-size: 19px;
}
#sign_in input::placeholder{
    font-size: 19px;
}
.user_icon{
    width: 100px;
    height: 100px;
    margin-top: 30px;
   
}
.chatting{
    width: 500px;
    height: 600px;
}
.txt{
  
    color: black;
    font-size: 20px;
    margin-top: 60px;
}