*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'police';
}
@font-face{
    font-family: 'police';
    src: url('../police/poppins-Light.ttf') format('truetype');
}

#room_cont{
    height: 40px;
    font-size: 25px;
    padding-left: 15px;

    width: 64%;
 
  
}
.body{
    background:linear-gradient(180deg,rgb(212, 204, 204),rgb(225, 218, 218)) ;

}

.app{
  /* background:linear-gradient(120deg, rgb(45, 139, 158),rgb(7, 187, 187));*/
  /*background:linear-gradient(180deg,rgb(212, 204, 204),rgb(161, 158, 158)) ;*/

    /*background-color: rgb(219, 211, 211);*/
width: 100%;
    height: 100vh;
  /*display: none*/;
  display: none;
    
}
.hour{
    color: gray;
    font-size: 13px;
}
.cont{
    width: 100%;
/*  border: black solid 2px;*/
    height: 80%;
    display: flex;
    flex-direction: row;

}
.description{
    width: 25%;
 /* background-color: rgb(231, 224, 224);*/
    height: 125%;
   /* border-radius: 15px;*/
   /* box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.5);*/
   border-left: 2px solid rgb(199, 195, 195);
  margin-top: -44px;
  display: flex;
  flex-direction:column;
  /*background-color: rgb(223, 213, 213);*/
  gap: 30%;
  /*border: black solid 2px;*/
}
.app h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
    color: white;
}
#container{
 
    width: 80%;
    margin: 0 auto;
    height: 80vh;
    border-radius: 15px;
    background-color: white;
    
    
}
#message_container{
   
    width: 75%;
   /* border-radius: 15px;*/
   /* box-shadow: 2px 2px 6px black;*/
    height: 100%;
 
    overflow-y: auto;
/*border:red solid 2px;*/
box-shadow: inset 2px 2px 6px gray;
}

#txt{
    outline: none;
    width: 70%;
    border-radius: 15px;
    margin-top: 4px;
    height: 30px;
    border: none;
    background-color: rgb(207, 207, 207);
    padding-left: 10px;
    margin-left: 50px;
    
}

.send{
    margin-bottom: 50px;
    width: 40px;
    height: 38px;
}

.text{
    margin: 2% 0;
    width: 65%;
    height: 30px;
   display: flex;
   flex-direction: row;
  gap: 10px;


  
}
.text button{
    background-color: transparent;
    
    border: none;
}

.msg{
    margin: 5px 0;
  
}
.date{
    font-size: 10px;
   color: gray;

}
.my_message .date{
    align-self: flex-end;
}
.sending{
   width: fit-content;
max-width: 250px;
    padding: 10px;
    word-wrap: break-word;
  /*border: black solid 2px;*/
color: white;
align-self: flex-end;
  

}
.other_message .sending{
background-color: gray;
border-radius: 0 15px 15px 15px;
}
.my_message .sending{
    align-self: flex-end;
  
   border-radius: 15px 0 15px 15px;
  /*align-items: flex-end;*/
    background-color:  rgb(22, 165, 193)
    
   
}
.hour{
    font-size: 13px;
    /*background-color: black;*/
    /*color: black;*/
    width: 10%;
    margin-left: 88%;
    
}
.my_message .sender_name{
    margin-left: 83%;
}

.my_message{
    margin-left: 67%;
    margin-right: 8%;
    
  display: flex;
  flex-direction: column;
 justify-content: flex-end;
  
}
.other_message{
    margin-left: 10%;
}
#update{
    text-align: center;
}
.emoji{
    margin-top: 4px;
    width: 35px;
    height: 35px;
    background-color: rgb(22, 165, 193);
    border-radius: 100%;
   
}
.leave{
    margin-top: 15px;
}
#mode{
    position: relative;
    left: 90%;
    top: 2%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
margin-bottom: 30px;
 
}
#mode:hover{
    border: rgb(227, 215, 215) 2px solid;
    background-color: rgb(221, 210, 210);
    border-radius: 100%;
    
}
#mode img{
    width: 40px;
    height: 40px;
}
.sombre{
    background: linear-gradient(180deg,rgb(148, 143, 143),rgb(54, 53, 53));
}
.black{
    background: linear-gradient(180deg,rgb(16, 16, 16),rgb(16, 16, 16));

}


.users_connected{
    text-align: center;
    margin-top: 30%;
}
#leave img{
    width: 3 0px;
    height: 30px;
}
#leave{
   /* margin-left: 80%;
    margin-top: 30%;*/

}

.logout{
    /*display: none;*/
}
#all_users,.members{
   /* border: 2px black solid;*/

    width: 40%;
}
#all_users{
    height: 92%;
    overflow-y: auto;
    width: 100%;
    text-align: center;
}
.members{
 border-radius: 0 15px 15px 0;

 
    width: 100%;
    height: 50%;
}
.members h2{
    text-align: center;
}



  
@media screen and (max-width:650px) {
    .description{
        width: 15%;
        
    }
    #message_container{
        width: 100%;
    }
    #form{
        width: 85%;
        margin-bottom: 20%;
    }
    .app input{
        width: 100%;
    }
    #room_cont{
        width: 95%;
    }
    #leave{
        margin-left: 10%;
        margin-top: 80%;
        
    }
   
    #leave img{
        width: 40px;
        height: 40px;
    }
    #mode{
        left: 80%;
    }
    .sending{
        max-width: 100px;
    }
    #texte{
        display: none;
    }
   
    #txt{
        margin: 2% 0;
       
    }
    .members{
        display: none;
    }
    .app{
        height: 110vh;
    }
    .logout{
        display: block;
    }
   
}